.saved-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 64px 20px;
  gap: 16px;
  list-style-type: none;
  background-color: #f5f6f7;
}

@media (max-width: 768px) {
  .saved-cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
}

@media (max-width: 480px) {
  .saved-cards {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
  }
}
