.news-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  max-height: 576px;
  text-align: left;
  position: relative;
}
.news-card__image {
  max-width: auto;
  width: 100%;
  height: 280px;
  object-fit: fill;
}

.news-card__content {
  padding: 15px;
}

.news-card__title {
  margin: 12px 24px 12px;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-card__description {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin: 0 24px;
  max-height: 110px;
  text-overflow: ellipsis;
}

.news-card__source {
  max-width: auto;
  margin-top: auto;
  margin-left: 5%;
  font-size: 16px;
  color: #b6bcbf;
  font-weight: 700;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.news-card__date {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 0 24px;
}

.news-card__bookmark {
  max-width: auto;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 85%;
  top: 5%;
  background-image: url("../../assets/save-icon.svg");
  border: none;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}

.news-card__bookmark:hover {
  cursor: pointer;
  background-image: url("../../assets/save-icon-hover.svg");
}

@media (max-width: 842px) {
  .news-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 220px;
    margin: 5px;
    text-align: left;
    position: relative;
    height: 420px;
  }

  /* Image styling */
  .news-card__image {
    max-width: 220px;
    width: 100%;
    height: 150px;
    object-fit: fill;
  }

  /* Content inside the card */
  .news-card__content {
    padding: 15px;
  }

  /* Title styling */
  .news-card__title {
    font-size: 22px;
    margin: 5px 0;
    color: #1a1b22;
    margin-top: 0;
    flex-wrap: wrap;
    width: fit-content;
  }

  /* Description styling */
  .news-card__description {
    font-size: 16px;
    margin: 10px 0;
    color: #1a1b22;
    line-height: 1.5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  /* Source styling */
  .news-card__source {
    margin-top: auto;
    margin-left: 5%;
    font-size: 16px;
    color: #b6bcbf;
  }

  .news-card__date {
    font-size: 0.9rem;
    color: #999;
    margin-top: 5%;
    margin-left: 4%;
    margin-bottom: 0;
    font-weight: bold;
  }

  .news-card__bookmark {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 75%;
    top: 5%;
    background-image: url("../../assets/save-icon.svg");
    border: none;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .news-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 220px;
    margin: 5px;
    text-align: left;
    position: relative;
    height: 420px;
  }

  /* Image styling */
  .news-card__image {
    max-width: 220px;
    width: 100%;
    height: 150px;
    object-fit: fill;
  }

  /* Content inside the card */
  .news-card__content {
    padding: 15px;
  }

  /* Title styling */
  .news-card__title {
    font-size: 22px;
    margin: 5px 0;
    color: #1a1b22;
    margin-top: 0;
    flex-wrap: wrap;
    width: fit-content;
  }

  /* Description styling */
  .news-card__description {
    font-size: 16px;
    margin: 10px 0;
    color: #1a1b22;
    line-height: 1.5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  /* Source styling */
  .news-card__source {
    margin-top: auto;
    margin-left: 5%;
    font-size: 16px;
    color: #b6bcbf;
  }

  .news-card__date {
    font-size: 0.9rem;
    color: #999;
    margin-top: 5%;
    margin-left: 4%;
    margin-bottom: 0;
    font-weight: bold;
  }

  .news-card__bookmark {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 75%;
    top: 5%;
    background-image: url("../../assets/save-icon.svg");
    border: none;
    border-radius: 10px;
  }
}

@media (max-width: 480px) {
  .news-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 280px;
    margin: 5px;
    text-align: left;
    position: relative;
    height: 420px;
  }

  /* Image styling */
  .news-card__image {
    max-width: 290px;
    width: 100%;
    height: 200px;
    object-fit: fill;
  }

  /* Content inside the card */
  .news-card__content {
    padding: 15px;
  }

  /* Title styling */
  .news-card__title {
    font-size: 22px;
    margin: 5px 0;
    color: #1a1b22;
    margin-top: 0;
    flex-wrap: wrap;
    width: fit-content;
  }

  /* Description styling */
  .news-card__description {
    font-size: 16px;
    margin: 10px 0;
    color: #1a1b22;
    line-height: 1.5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  /* Source styling */
  .news-card__source {
    margin-top: auto;
    margin-left: 5%;
    font-size: 16px;
    color: #b6bcbf;
  }

  .news-card__date {
    font-size: 0.9rem;
    color: #999;
    margin-top: 5%;
    margin-left: 4%;
    margin-bottom: 0;
    font-weight: bold;
  }

  .news-card__bookmark {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 75%;
    top: 5%;
    background-image: url("../../assets/save-icon.svg");
    border: none;
    border-radius: 10px;
  }
}
